html{
    background-color: #f1f1f1;
    color: #2f2f2f;
}
@media (max-width:780px){
    html{
        color: #f1f1f1;
        background-color: #2f2f2f;
    }
    .content, .image-placeholder, .description{
        display: block;
    }
    .contact-info, .image-placeholder, .description{
        float: left;
    }
    body{
        width: 100%;
        margin-left:0;
    }
}
.name{  
    text-align: left;
    font-size: 20px;
    width:100%;
    font-weight:bold;
}
h1, h2, h3, h4, h5, h6{
    color: White;
}
h1{
    text-align:center;
    height:50px;
    font-size: 30px;
    padding-top: 10px;
    background-color: #4f4f4f;
    margin-top:0;
}
body{
    width:80%;
    margin-left:10%;
    margin-top:0;
    font-family: Arial, Helvetica, sans-serif;
}
.content, .image-placeholder, .description{
    display: flex;
}
.image-placeholder{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding:90px 0;
      
}
.image-size{
    border: 3px solid #42f5c2;
    min-width:200px;
    height:200px;
    background-color:#ddd;
    margin-right: 10px;
    
}
.description{
    padding:5px;    
    border: 3px solid #4284f5;    
    margin-right: 10px;    
}
.contact-info{
    text-align:center;
    white-space: nowrap;
    padding:5px;
    padding-right:5px;
    border: 3px solid #f5cb42;
    float:right;
    font-weight:bold;
    
}
.button{
    text-align: left;
    height: 25px;
    border-radius:5px;
    margin: 2px;
    padding: 2px;
    font-size: 17px;
    background-color: #4284f5;
    color: white;   
    
}
ul{ list-style-type: none; }
.button > * {
    padding-top:4px;
}
.button > a{
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    text-decoration: none;
}
ul{
    padding: 15px;
}
